.positive{
    background-color:rgb(121, 206, 121);
  }

  .negative{
    background-color: white
  }

  .positive-canceled{
    background-color:rgb(240, 222, 151);
  }

  .listHead {
    background: #fff;
    border-radius: 5px;
    padding: 0 15px 7px;
    border: solid 1px #ccc;
  }