.btn-group-lg .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 2.25rem;
    line-height: 4.00;
    border-radius: 3.5rem;
    width: 40%;
}

#content-wrapper .custom-btn {
    background-color: #c02b20 !important;
    color: #fff;
    padding: 0px 40px !important;
    font-size: 30px !important;
    font-weight: 600;
    border-radius: 30px !important;
    width: auto !important;margin-left:-65px;

}

#content-wrapper .table tr td {
    font-weight: 400;
    border-top: 0;
}

.title-green{
    color: #008a00;
}

table.table th, table.table td {
    padding-top: 5px;
    padding-bottom: 5px;
}

.border-ar{
    border: 1px solid #008a00;
    padding: 0 20px;
}

/****** second-page-css ********/
.loan-detail{
    width: 100%;
    /*padding-left: 30%;*/
}
.fail-section{
    display: none;
}
.content-red{
    color: red;
}
.title-yellow{
    color: #ffcf40;
}
.div-bdr{
    border: 1px solid #ffcf40;
    padding: 0 20px;
}
.error-section{
    height: 450px;
}
.error-content{
    color: #ff0000;
    padding-top: 14%;
}
.email-notify{
    background: #f2f2f2;
    font-weight: 600;
    padding: 3px 15px;
    margin-bottom: 4px;
}
.fail-email {
    border-bottom: 1px solid;
    margin-top: 6px;
}
.fail-cols {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
}
.fail-cols1 {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
    margin-left: 227px;
}
.yellow-section .title-green{
    color: #e3ba00;
}


.yellow-section{
    border: 1px solid #e3ba00;
    padding: 0 20px;
}

.failed-payment-section{
    border: 1px solid #ff0000;
    padding: 0 20px;
}

.failed-payment-section .title-green{
    color: #ff0000;
}

.show-table{
    width: 50%;
    margin: 0 auto;
}

#hideTable{
    color: #036ce9;
    text-align: center;
}
.group-notification{
    max-width: 70%;
    margin: 0 auto;
}

@media screen and (max-width:767){
    .group-notification{
        max-width: 100%;
        }   
}